body  
{
  margin-top: 0%;
  background-color: wheat;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{text-decoration: none;}

.img{float: left;
  margin-top: 10px;
  margin-left: 4px;
  margin-bottom: 6px;
}

.btn {
  background: #474d19;
  background-image: -webkit-linear-gradient(top, #474d19, #827836);
  background-image: -moz-linear-gradient(top, #474d19, #827836);
  background-image: -ms-linear-gradient(top, #474d19, #827836);
  background-image: -o-linear-gradient(top, #474d19, #827836);
  background-image: linear-gradient(to bottom, #474d19, #827836);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 40px 9px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #e37a1d;
  background-image: -webkit-linear-gradient(top, #e37a1d, #3498db);
  background-image: -moz-linear-gradient(top, #e37a1d, #3498db);
  background-image: -ms-linear-gradient(top, #e37a1d, #3498db);
  background-image: -o-linear-gradient(top, #e37a1d, #3498db);
  background-image: linear-gradient(to bottom, #e37a1d, #3498db);
  text-decoration: none;
}

.title
{
  margin-top: -1%;
  position: fixed;
  height: 100px;
  width:100%;
  background-color: orange;
  font-family: sans-serif;
}

.vvk{

margin-top: 50px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}

.amz{
  margin-top: 50px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}
.g-15{
  margin-top: 50px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}
.pat{
  margin-top: 50px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}

.tvr{
  margin-top: 50px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}

.ho{
  margin-top: 50px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}

  .h2{

width: 100%;
margin-top: 0px;
text-align: center;
font-family: sans-serif;}

.ld{width: 85%;}


.lap{background-color: rgb(136, 206, 16);
  line-height: normal;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.des{background-color: #e37a1d;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.tab{background-color: #6e918b;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.pri{background-color: #8e8fc5;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.im{background-color: #dd7ed8;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.cc{background-color: #c47070;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.wi{background-color: #89b49d;
  margin-right: 20px;
  display: inline-block;
width: 100px;
height: 100px;}

.nam{
  margin-right: 50px;
  margin-left: 50px;
  display: inline-block;
width: 200px;
height: 200px;}

.kar{border-radius: 50%;}

.hh{
margin-top: 50px;
  position: relative;

}





